@import url('index.css');

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
    width: 100vw;
    height: 100vh;
}

.center-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

a {
    color: var(--light-blue);
    width: fit-content;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    padding: var(--btn-padding);
    border-radius: 5px;
    border: 1px solid;
}

a.btn,
input[type='submit'] {
    padding: var(--btn-padding);
    color: #fff;
    text-decoration: none;
    background-color: var(--purple);
    border-radius: 100px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

a.btn:active,
input[type='submit']:active {
    background-color: var(--light-purple);
    transition: background-color 125ms ease-in-out;
}

input[type='submit'] {
    margin-top: 20px;
}